<%include ./partials/header%>

<div class="container">
    <header class="jumbotron">
    <div class="container">
        
    
    <h1>welcom to my OlgyCamp</h1>
    <p>View our hand-picked campgrounds from all over the world</p>
<p>
<%# this link ask the servant to get /campgrounds/new  where the form is located%>
<a href="/campgrounds/new" class="btn btn-primary btn-large">Add A new campground</a>

</p>
</div>
</header>




<%campgrounds.forEach((campground)=>{%>
<div>
  <h4><%=campground.name%></h4>
  <img src="<%=campground.image%>" alt="image"/>
</div>
<%})%>
</div>


<%include ./partials/footer%>