<%include ./partials/header%>
<h1>create a new campground</h1>
<%# this form ask the servant to post /campgrounds %>
<%# the form is found at /campgrounds/new  url with a get request %>
<form action="/campgrounds" method="POST">

<input type="text" placeholder="name" name="name" value="">
<input type="text" placeholder="image url" name="image" value="">
    <button type="submit">submit</button>
</form>

<%# this link ask the servant to get /campgrounds %>
<a href="/campgrounds">Go back</a>
<%include ./partials/footer%>